/* Colours */
.bg-black {
	background-color: black;
}

.fg-white {
	color: white;
}

/* Fonts */
.font-mono {
	font-family: "Inconsolata", "Menlo", "Consolas", "Liberation Mono", "Ubuntu mono", monospace;
}

.font-taffer {
	font-family: "Papyrus", "VTC Goblin Hand", "Devroye", "Liberation Serif", "Ubuntu", fantasy;
}

.font-small {
    font-size: 0.5em;
}

h1 {
    font-size: 96px;
    font-weight: bold;
}

p,li {
    font-size: 24px;
    font-weight: bold;
}

/* Positioning */
.left {
    float: left;
}

.pos-default {
    position: relative;
}

.pos-bottom {
    position: absolute;
    bottom: 0;
}

.right {
    float: right;
}

/* Sizing */
.min-425 {
    min-width: 425px;
}

.size-1_3 {
    width: 33%;
}

.size-2_3 {
    width: 66%;
}

/* Backgrounds */
.taffer-bg {
	background-image: url('taffer-ronos-512x512.png');
	background-repeat: no-repeat;
    background-position: right top;
}

/* Overrides for tiny screens. */
@media only screen and (max-device-width: 1024px) {
	.taffer-bg {
		background-image: url('taffer-ronos-256x256.png');
		background-repeat: no-repeat;
        background-position: right top;
	}
}
