{{ $source := .Get 0 }}
{{ with resources.Get $source }}
    {{ $companies := slice }}
    {{ with .Err }}
        {{ errorf "%s" . }}
    {{ else }}
        {{ $companies = . | transform.Unmarshal }}
    {{ end }}
<ul>
    {{ range $company := (sort $companies) }}
        {{ $notes := (index $company 3) }}
        {{ if gt (index $company 2 | len) 0 }}
    <li><a href="{{ index $company 1}}">{{ index $company 0}}</a> <a href="{{ index $company 2}}">ℹ️</a>{{ $notes }}</li>
        {{ else }}
    <li><a href="{{ index $company 1}}">{{ index $company 0}}</a>{{ $notes }}</li>
        {{ end }}
    {{ end }}
</ul>
{{ end }}
